<%= form_for(trip) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :driver_id %>
    <%= f.text_field :driver_id %>
  </div>

  <div class="field">
    <%= f.label :source_id %>
    <%= f.text_field :source_id %>
  </div>

  <div class="field">
    <%= f.label :destination_id %>
    <%= f.text_field :destination_id %>
  </div>

  <div class="field">
    <%= f.label :departure_time %>
    <%= f.datetime_select :departure_time %>
  </div>

  <div class="field">
    <%= f.label :seats %>
    <%= f.number_field :seats %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
